/* mode-btn */
#mode-btn {
    font-size: 18px;
    line-height: 1.2;
    color: var(--theme);

    .fa-moon {
        display: none;
    }
}

html.light-mode {
    body {
        color: var(--black);
        background: var(--white);

        &::-webkit-scrollbar-track {
            background: var(--white);
        }
    }

    #mode-btn {
        .fa-moon {
            display: block;
        }

        .fa-sun {
            display: none;
        }
    }

    /* header */
    #header {
        background: rgba(var(--whiterbg), .85);
        backdrop-filter: blur(30px) brightness(112%);
    }

    /* main-navigation */
    #main-navigation {
        .menu {
            li {
                .link {
                    color: var(--black);

                    &.active,
                    &:hover {
                        color: var(--theme);
                    }
                }
            }
        }
    }

    #particles-js {
        filter: brightness(0);
    }

    #banner {
        .description {
            color: var(--black);

            h1 {
                color: var(--black);
            }
        }
    }

    .title1 {
        &::before {
            opacity: 1;
        }
    }

    /* progress1 */
    .progress1 {
        background: rgba(var(--blackrgb), .2);
    }

    /* list1 */
    .list1 {
        li {
            border-left-color: rgba(var(--blackrgb), 0.2);
        }
    }

    /* filter1 */
    .filter1 {
        .btn {
            background: rgba(var(--blackrgb), 0.1);
            color: var(--black);

            &:hover,
            &.active {
                background: var(--theme);
                color: var(--white)
            }
        }
    }

    /* card1 */
    .card1 {
        border-color: rgba(var(--blackrgb), 0.3);

        &:hover {
            border-color: var(--theme);
        }
    }

    [data-tooltip="link"] {
        .tooltip-text {
            background: var(--black);
            color: var(--white);

            &::after {
                border-color: var(--black) transparent transparent transparent;
            }
        }
    }

    #scroll-top-btn{        
        i{
            svg{    
                circle{
                    stroke: var(--black);
                }
            }
        }
    }
}

@media(max-width: 991px) {
    body.light-mode {
        #main-navigation {
            background: rgba(var(--whiterbg), .85);
            backdrop-filter: blur(30px) brightness(112%);
        }
    }
}