/*  ==========================================================================
Global Settings & Utilities
========================================================================== */
:root {
  --black: #000000;
  --blackrgb: 0, 0, 0;
  --white: #ffffff;
  --whiterbg: 255, 255, 255;
  --theme: #29cc61;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--white);
  background: var(--black);
  font-weight: 500;
  font-family: "Montserrat", sans-serif, Arial, "Helvetica Neue", Helvetica;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 16px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 1.3846153846;
}

p {
  line-height: 1.625;
}

@media (max-width: 767px) {
  body {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 34px;
    line-height: 1.2941176471;
  }
}
a {
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

figure {
  margin-bottom: 0px;
}

button {
  padding: 0px;
  border: 0px;
  background: transparent;
}

/*  ==========================================================================
Utilities
========================================================================== */
.figure1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.title1 {
  position: relative;
  padding-top: 10px;
}
.title1::before {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0.6;
  color: transparent;
  margin-top: -7px;
  -webkit-text-stroke: 1px var(--theme);
  z-index: -1;
  line-height: 1;
}

@media (max-width: 767px) {
  .title1 {
    position: relative;
    padding-top: 10px;
  }
  .title1::before {
    font-size: 55px;
  }
}
.text-theme {
  color: var(--theme) !important;
}

.bg-theme {
  background-color: var(--theme) !important;
}

.icon1 {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: rgba(var(--whiterbg), 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon1 svg {
  width: 24px;
}

/*  ==========================================================================
Layouts
========================================================================== */
/* container */
#container {
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

/* header */
#header {
  padding: 15px 0px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(var(--blackrgb), 0.8);
  z-index: 99;
}
#header .logo {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: var(--theme);
}

@media (max-width: 1199px) {
  #header .logo {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #header {
    padding: 12px 0px;
  }
  #header .logo {
    font-size: 20px;
  }
}
/* main-navigation */
#main-navigation .menu {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#main-navigation .menu li + li {
  margin-left: 30px;
}
#main-navigation .menu li .link {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  opacity: 0.7;
}
#main-navigation .menu li .link.active, #main-navigation .menu li .link:hover {
  color: var(--theme);
  opacity: 1;
}

@media (max-width: 1199px) {
  #main-navigation .menu li + li {
    margin-left: 20px;
  }
  #main-navigation .menu li a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #main-navigation {
    position: fixed;
    left: 100%;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 90px 0px 30px;
    background: var(--black);
    z-index: 99;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  #main-navigation .scrollable-content {
    padding: 0px 15px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #main-navigation .menu {
    display: block;
    text-align: center;
  }
  #main-navigation .menu li {
    margin-bottom: 20px;
  }
  #main-navigation .menu li + li {
    margin-left: 0px;
  }
}
#menu-btn {
  position: relative;
  z-index: 100;
  display: block;
  margin-left: auto;
  height: 20px;
}
#menu-btn span {
  display: block;
  width: 26px;
  height: 3px;
  background: var(--theme);
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
#menu-btn span:nth-child(2) {
  margin: 5px 0px;
}
#menu-btn.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
#menu-btn.active span:nth-child(2) {
  opacity: 0;
}
#menu-btn.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
      -ms-transform: rotate(-45deg) translate(6px, -6px);
          transform: rotate(-45deg) translate(6px, -6px);
}

.menu-open {
  overflow: hidden;
}
.menu-open #main-navigation {
  left: 0px;
}

/* banner */
#banner {
  position: relative;
}
#banner .figure1 img {
  height: 100vh;
  min-height: 800px;
  opacity: 0.6;
}
#banner .description {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
#banner .description h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 20px;
}
#banner .description .lead {
  font-size: 24px;
  font-weight: 500;
}
#banner .description .lead span {
  position: absolute;
  display: inline-block;
}
#banner .description .lead span::before {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--theme);
  position: absolute;
  left: 0px;
  bottom: 5px;
  z-index: -1;
}

@media (max-width: 1199px) {
  #banner .figure1 img {
    min-height: 500px;
    height: auto;
  }
  #banner .description h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  #banner .description .lead {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  #banner .description h1 {
    margin-bottom: 10px;
  }
  #banner .description .lead {
    font-size: 18px;
  }
}
/*  ==========================================================================
Components
========================================================================== */
/* sociables */
.sociables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -6px;
  margin-right: -6px;
}
.sociables li {
  padding: 0px 6px;
}
.sociables a {
  color: var(--white);
  font-size: 20px;
}
.sociables a:hover {
  color: var(--theme);
}

/* arrow-list */
.arrow-list {
  margin-left: -15px;
  margin-right: -15px;
}
.arrow-list li {
  position: relative;
  margin-bottom: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}
.arrow-list li .fa {
  font-weight: 400;
  font-size: 20px;
  color: var(--theme);
  line-height: 1;
  margin-right: 10px;
}
.arrow-list li strong {
  margin-right: 4px;
}

@media (max-width: 767px) {
  .arrow-list li {
    width: 100%;
    margin-bottom: 15px;
  }
}
/* section */
.section {
  padding: 70px 0px;
}

@media (max-width: 767px) {
  .section {
    padding: 40px 0px;
  }
}
/* stats */
.stats {
  margin-left: -15px;
  margin-right: -15px;
}
.stats li {
  width: 25%;
  padding: 0px 15px;
}
.stats .value {
  font-size: 36px;
  display: block;
  font-weight: 600;
  line-height: 1;
}
.stats p {
  font-size: 14px;
}
.stats p:last-child {
  margin-bottom: 0px;
}

/* box1 */
.box1 {
  border: 2px solid transparent;
  background: var(--theme);
  padding: 20px 15px;
}

/* list1 */
.list1 li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 20px;
  border-left: 2px solid rgba(var(--whiterbg), 0.2);
}
.list1 li::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: var(--theme);
  position: absolute;
  left: -9px;
  top: 0px;
}
.list1 li p:last-child {
  margin-bottom: 0px;
}

/* card1 */
.card1 {
  border: 2px solid rgba(var(--whiterbg), 0.3);
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
.card1:hover .overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.card1 figure img {
  width: 100%;
  max-width: 250px;
}
.card1 .overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(110%);
      -ms-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.card1 .overlay button,
.card1 .overlay a {
  text-align: center;
  color: var(--white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  background: var(--theme);
}
.card1 .overlay button svg,
.card1 .overlay a svg {
  width: 30px;
}
.card1 .overlay button:hover,
.card1 .overlay a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .card1 {
    min-height: 250px;
  }
  .card1 .overlay button,
  .card1 .overlay a {
    padding: 5px 10px;
  }
  .card1 .overlay button svg,
  .card1 .overlay a svg {
    width: 22px;
  }
}
/* filter1 */
.filter1 li + li {
  margin-left: 8px;
}
.filter1 .btn {
  border: 0px;
  background: rgba(var(--whiterbg), 0.1);
  color: var(--white);
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.filter1 .btn:hover, .filter1 .btn.active {
  background: var(--theme);
}

@media (max-width: 767px) {
  .filter1 .btn {
    padding: 5px 18px;
    border-radius: 6px;
  }
}