/*  ==========================================================================
Global Settings & Utilities
========================================================================== */

@mixin cubic-transition() {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

:root {
  --black: #000000;
  --blackrgb: 0, 0, 0;
  --white: #ffffff;
  --whiterbg: 255, 255, 255;
  --theme: #29cc61;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--white);
  background: var(--black);
  font-weight: 500;
  font-family: "Montserrat", sans-serif, Arial, "Helvetica Neue", Helvetica;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 16px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: calc(50 / 40);
}

h3,
.h3 {
  font-size: 26px;
  line-height: calc(36 / 26);
}

p {
  line-height: calc(26 / 16);
}

@media (max-width: 767px) {
  body {
    font-size: 0.875rem;
  }

  h2 {
    font-size: 34px;
    line-height: calc(44 / 34);
  }
}

a {
  text-decoration: none;
  @include cubic-transition;
}

figure {
  margin-bottom: 0px;
}

button {
  padding: 0px;
  border: 0px;
  background: transparent;
}

/*  ==========================================================================
Utilities
========================================================================== */

.figure1 {
  img {
    object-fit: cover;
  }
}

.title1 {
  position: relative;
  padding-top: 10px;

  &::before {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    opacity: 0.6;
    color: transparent;
    margin-top: -7px;
    -webkit-text-stroke: 1px var(--theme);
    z-index: -1;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .title1 {
    position: relative;
    padding-top: 10px;

    &::before {
      font-size: 55px;
    }
  }
}

.text-theme {
  color: var(--theme) !important;
}

.bg-theme {
  background-color: var(--theme) !important;
}

.icon1 {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: rgba(var(--whiterbg), 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
  }
}

/*  ==========================================================================
Layouts
========================================================================== */
/* container */
#container {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* header */
#header {
  padding: 15px 0px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(var(--blackrgb), 0.8);
  z-index: 99;

  .logo {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: var(--theme);
  }
}

@media (max-width: 1199px) {
  #header {
    .logo {
      font-size: 30px;
    }
  }
}

@media (max-width: 767px) {
  #header {
    padding: 12px 0px;

    .logo {
      font-size: 20px;
    }
  }
}

/* main-navigation */
#main-navigation {
  .menu {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      +li {
        margin-left: 30px;
      }

      .link {
        font-size: 14px;
        font-weight: 400;
        color: var(--white);
        opacity: 0.7;

        &.active,
        &:hover {
          color: var(--theme);
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #main-navigation {
    .menu {
      li {
        +li {
          margin-left: 20px;
        }

        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #main-navigation {
    position: fixed;
    left: 100%;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 90px 0px 30px;
    background: var(--black);
    z-index: 99;
    @include cubic-transition;

    .scrollable-content {
      padding: 0px 15px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .menu {
      display: block;
      text-align: center;

      li {
        margin-bottom: 20px;

        +li {
          margin-left: 0px;
        }
      }
    }
  }
}

#menu-btn {
  position: relative;
  z-index: 100;
  display: block;
  margin-left: auto;
  height: 20px;

  span {
    display: block;
    width: 26px;
    height: 3px;
    background: var(--theme);
    border-radius: 10px;
    pointer-events: none;
    @include cubic-transition;

    &:nth-child(2) {
      margin: 5px 0px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu-open {
  overflow: hidden;

  #main-navigation {
    left: 0px;
  }
}

/* banner */
#banner {
  position: relative;

  .figure1 {
    img {
      height: 100vh;
      min-height: 800px;
      opacity: 0.6;
    }
  }

  .description {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    h1 {
      font-size: 48px;
      line-height: 1;
      font-weight: 700;
      color: var(--white);
      margin-bottom: 20px;
    }

    .lead {
      font-size: 24px;
      font-weight: 500;

      span {
        position: absolute;
        display: inline-block;

        &::before {
          content: "";
          width: 100%;
          height: 4px;
          background: var(--theme);
          position: absolute;
          left: 0px;
          bottom: 5px;
          z-index: -1;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #banner {
    .figure1 {
      img {
        min-height: 500px;
        height: auto;
      }
    }

    .description {
      h1 {
        font-size: 30px;
        margin-bottom: 15px;
      }

      .lead {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  #banner {
    .description {
      h1 {
        margin-bottom: 10px;
      }

      .lead {
        font-size: 18px;
      }
    }
  }
}

/*  ==========================================================================
Components
========================================================================== */

/* sociables */
.sociables {
  display: flex;
  align-items: center;
  margin-left: -6px;
  margin-right: -6px;

  li {
    padding: 0px 6px;
  }

  a {
    color: var(--white);
    font-size: 20px;

    &:hover {
      color: var(--theme);
    }
  }
}

/* arrow-list */
.arrow-list {
  margin-left: -15px;
  margin-right: -15px;

  li {
    position: relative;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0px 15px;

    .fa {
      font-weight: 400;
      font-size: 20px;
      color: var(--theme);
      line-height: 1;
      margin-right: 10px;
    }

    strong {
      margin-right: 4px;
    }
  }
}

@media (max-width: 767px) {
  .arrow-list {
    li {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

/* section */
.section {
  padding: 70px 0px;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

@media (max-width: 767px) {
  .section {
    padding: 40px 0px;
  }
}

/* stats */
.stats {
  margin-left: -15px;
  margin-right: -15px;

  li {
    width: 25%;
    padding: 0px 15px;
  }

  .value {
    font-size: 36px;
    display: block;
    font-weight: 600;
    line-height: 1;
  }

  p {
    font-size: 14px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

/* box1 */
.box1 {
  border: 2px solid transparent;
  background: var(--theme);
  padding: 20px 15px;
}

/* list1 */
.list1 {
  li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 20px;
    border-left: 2px solid rgba(var(--whiterbg), 0.2);

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 100px;
      background: var(--theme);
      position: absolute;
      left: -9px;
      top: 0px;
    }

    p {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

/* card1 */
.card1 {
  border: 2px solid rgba(var(--whiterbg), 0.3);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &:hover {
    .overlay {
      transform: translateY(0);
    }
  }

  figure {
    img {
      width: 100%;
      max-width: 250px;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(110%);
    @include cubic-transition;

    button,
    a {
      text-align: center;
      color: var(--white);
      flex: 1;
      padding: 10px;
      @include cubic-transition;
      background: var(--theme);

      svg {
        width: 30px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 767px) {
  .card1 {
    min-height: 250px;

    .overlay {

      button,
      a {
        padding: 5px 10px;

        svg {
          width: 22px;
        }
      }
    }
  }
}

/* filter1 */
.filter1 {
  li {
    +li {
      margin-left: 8px;
    }
  }

  .btn {
    border: 0px;
    background: rgba(var(--whiterbg), 0.1);
    color: var(--white);
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 10px;
    @include cubic-transition;

    &:hover,
    &.active {
      background: var(--theme);
    }
  }
}

@media (max-width: 767px) {
  .filter1 {
    .btn {
      padding: 5px 18px;
      border-radius: 6px;
    }
  }
}