.figure1 {
    img {
        object-fit: cover;
    }
}

.fw-medium {
    font-weight: 500 !important;
}

.title1 {
    position: relative;
    padding-top: 10px;

    &::before {
        content: attr(data-title);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        opacity: 0.6;
        color: transparent;
        margin-top: -7px;
        -webkit-text-stroke: 1px var(--theme);
        z-index: -1;
        line-height: 1;
    }
}

@media (max-width: 767px) {
    .title1 {
        position: relative;
        padding-top: 10px;

        &::before {
            font-size: 55px;
        }
    }
}

.text-theme {
    color: var(--theme) !important;
}

.bg-theme {
    background-color: var(--theme) !important;
}

.icon1 {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background: rgba(var(--whiterbg), 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
    }
}

/* progress1 */
.progress1 {
    background: var(--white);
}

[data-tooltip="link"] {
    position: relative;

    .tooltip-text {
        position: absolute;
        left: 50%;
        bottom: calc(100% + 15px);
        transform: translateX(-50%);
        background: var(--white);
        color: var(--black);
        border-radius: 5px;
        padding: 7px;
        font-size: 12px;
        pointer-events: none;
        align-items: center;
        column-gap: 5px;
        display: flex;

        &.active {
            display: flex;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            border-width: 10px 8px 0px 8px;
            border-color: var(--white) transparent transparent transparent;
            border-style: solid;
        }
    }
}

@media(max-width: 767px) {
    [data-tooltip="link"] {
        position: static;

        .tooltip-text {
            position: fixed;
            bottom: 30px;

            &::after {
                display: none;
            }
        }
    }
}